.stocks {
  background-color: black;
  text-align: center;
}

.stock-names {
  color: white;
}

.facebook,
.twitter,
.grubhub,
.uber,
.lyft {
  display: inline-block;
  padding: 0px 2em;
}
.header {
  width: 100%;
  height: 5em;
  background-color: lightgray;
  text-align: center;
}

.menu-button {
  float: left;
  padding: 1em;
}
.menu {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.title {
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  transform: scale(1, 1.4);
  margin-bottom: 0px;
}

.subheading {
  display: block;
  margin: 0px;
  font-size: 9px;
  font-family: sans-serif;
}

.title2 {
  display: none;
  font-family: "Times New Roman", Times, serif;
  transform: scale(1, 1.4);
}
.search {
  float: right;
  padding: 1em;
  margin-top: 10px;
}

@media screen and (max-width: 580px) {
  .title {
    display: none;
  }
  .title2 {
    display: inline-block;
  }
  .grubhub {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .uber {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .subheading {
    display: none;
  }
  .lyft {
    display: none;
  }
}
